@import url("https://fonts.googleapis.com/css2?family=Caveat&display=swap");
.section1 {
  background: linear-gradient(91.07deg, #20262a 0%, #20232a 100%);
  color: #ffffff;
}
.section1 h1 {
  color: #fff;
  font-family: "Caveat", cursive;
}
.section1 p {
  /* font-size: 1.2rem; */
  font-weight: 300;
}

.section1 a,
.section1 a :hover {
  color: #ffffff !important;
}
