@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap");
@import url("assets/css/Custom.css");
@import url("assets//css//Sections.css");
body {
  font-family: "Open Sans", -apple-system, BlinkMacSystemFont, Roboto, Arial,
    sans-serif !important;
  color: #20232a;
  -webkit-overflow-scrolling: touch;
}
html {
  text-rendering: optimizeLegibility;
  /* scroll-behavior: smooth; */
}

#navi-top .navbar-brand {
  transition: 0.5s;
  padding-top: 1.2rem;
  padding-bottom: 1.2rem;
}
#navi-top .navbar-brand img {
  transition: 0.5s;
}

#navi-top .nav-link {
  color: #ffffff;
  font-size: 0.9rem;
  /* font-weight: 300; */
  /* transition: 0.3s; */
}

#navi-top .nav-link.active {
  color: #06c4f9;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
#navi-top {
  background-color: rgba(32, 35, 42, 0.9);
}
.bg-cogeek {
  background-color: rgba(32, 35, 42, 1);
}

.cgk-home-header {
  position: relative;
  /* background-image: linear-gradient(
      102.25deg,
      rgba(32, 35, 42, 0.7) 0%,
      rgba(32, 35, 42, 0.4) 60%
    ),
    url("./assets/img/cogeek-home-header-background.jpg"); */
  background-size: cover;
  background-position: center;
  background-attachment: scroll;
  padding-top: 200px;
}
.btn-more {
  font-size: 3rem;
  color: #fff;
}

.btn-more :hover {
  color: rgba(255, 255, 255, 0.619);
}

.cgk-home-head-name {
  color: #fff;
  font-size: 3rem;
  font-weight: 500;
  text-transform: uppercase;
}

.cgk-home-head-title {
  color: #fff;
  font-size: 1.8rem;
  text-transform: capitalize;
}
.cgk-about {
  background-size: cover;
  background-position: center;
  background-attachment: scroll;
  padding-top: 200px;
  padding-bottom: 170px;
  position: relative;
}
.about-us p {
  font-size: 1.1rem;
}
.arrow-object {
  position: absolute;
  bottom: -1px;
  width: 100%;
  left: 0;
}

.cgk-contact {
  /* background-image: linear-gradient(
      102.25deg,
      rgba(32, 35, 42, 0.9) 0%,
      rgba(32, 35, 42, 0.4) 100%
    ),
    url("./assets/img/cogeek-contact.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  padding-top: 200px; */
  background-color: #f8f9fa;
}

.btn-cgk {
  color: #fff !important;
  background-color: #06c4f9 !important;
  border-color: #06c4f9 !important;
}

.btn-cgk:hover {
  color: #06b1e0 !important;
  background-color: #fff !important;
  border-color: #fff !important;
}

.btn-cgk:focus,
.btn-cgk.focus {
  box-shadow: 0 0 0 0.2rem rgba(6, 196, 249, 0.5) !important;
}

.btn-cgk.disabled,
.btn-cgk:disabled {
  color: #fff !important;
  background-color: #06c4f9 !important;
  border-color: #06c4f9 !important;
}

.btn-cgk:not(:disabled):not(.disabled):active,
.btn-cgk:not(:disabled):not(.disabled).active,
.show > .btn-cgk.dropdown-toggle {
  color: #fff !important;
  background-color: #117a8b !important;
  border-color: #10707f !important;
}

.btn-cgk:not(:disabled):not(.disabled):active:focus,
.btn-cgk:not(:disabled):not(.disabled).active:focus,
.show > .btn-cgk.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(6, 196, 249, 0.5) !important;
}

.cgk-footer .cgk-copyright {
  color: #fff;
  margin: 0;
  font-size: 0.8rem;
  font-weight: 300;
}

.cgk-footer a {
  color: #d9d9d9;
  font-size: 0.9rem;
  font-weight: 300;
}
.cgk-footer a:hover {
  color: #fff;
  font-size: 0.9rem;
  font-weight: 300;
}

.cgk-footer .follow-cgk a {
  color: #fff;
  font-size: 1.6rem;
  margin-right: 0.5rem;
}
.team_card {
  margin: 20px auto;
  width: 300px;
  background-color: #fff;
  box-shadow: 0 10px 15px -10px #252525;
}
.member_image {
  width: 100%;
  text-align: center;
}
.member_image img {
  border-radius: 50%;
  border: 10px solid #2c2c2c1f;
  object-fit: cover;
  width: 180px;
  height: 180px;
  margin: 20px auto;
}
.member_inf {
  text-transform: uppercase;
  text-align: center;
  color: #20232a;
}
img {
  vertical-align: middle;
  border-style: none;
}

hr.break-small {
  border-top: 2px dotted #28a5df;
  width: 160px;
}

.btn-scrollTop {
  position: fixed;
  border-radius: 50%;
  font-size: 1.4rem;
  color: #fff;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 0px 14px 0px;
  border: 0px;
  height: 56px;
  width: 56px;
  background-color: #06c4f9;
  bottom: 20px;
  right: 20px;
  opacity: 0;
  transition: 0.3s;
  outline-style: none !important;
}
.btn-scrollTop:focus {
  outline-style: none !important;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@media (max-width: 768px) {
  #navi-top {
    background-color: rgba(32, 35, 42, 1);
  }
}
